@model IEnumerable<Top2000.Models.vmHome>

@{
    ViewBag.Title = "Index";
    int count = 0;
    int numItem;
}
<style>
    body {
        background-color: gainsboro;
    }

    .listHeader {
        width: 100%;
        margin-top: -15px;
        float: right;
    }
    .row{
        margin: 0px !important;
    }
    footer{
        margin-top: 20px;
    }
</style>
<script>
    var TrackArray = new Array();
    $('.wrapper').removeClass("container")
    function createObject(itemId, itemName, itemArtist) {
        var Track = new Object();
        Track.itemId = itemId;
        Track.itemName = itemName;
        Track.itemArtist = itemArtist;
        TrackArray.push(Track);
    };
    function Noimage(image) {
        image.src = "https://makitweb.com/demo/broken_image/images/noimage.png";
        return true;
    }
</script>
<div class="listHeader bg-primary">
    
    <div class="conatiner">
        <div class="row">
            <div class="col-md-3 offset-5" style="padding-top: 50px; padding-bottom: 50px; font-size:xxx-large">
                <h1 style="color: #9d9d9d; font-family: Helvetica; font-size: inherit;">Top 100 - List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="2" name="PostForm" id="PostForm" />


                    <input class="form-control" style="display:inline-block;" type="text" placeholder="Artist" id="TrackArtist" name="TrackArtist" />


                    <input class="form-control" style="display:inline-block;" type="text" placeholder="1990/01/01" id="TrackYear" name="TrackYear" />


                    <div class="form-group" style="display:inline-block;">


                                @Html.DropDownList("DropdownYear", null, htmlAttributes: new { @class = "form-control" })

                    </div>
                    <div style="display:inline-block;">
                        <button type="submit" value="Search" class="btn btn-success">Search</button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
<div class="container body-content" style="width: auto;">
    @foreach (var item in Model)
    {
        count++;
        numItem = 3;

        <div class="col-md-@numItem" id="card_@count">
            <script>
            createObject(@count, "@item.Name", "@item.TrackArtist")
            </script>
            <div class="card" style="margin-top: 15px">
                <div class="bg-primary" style="position: absolute;z-index: 10;color: white;font-size: 2em;padding: 0.5vw;text-align: center;border-bottom-right-radius: 0.5vw;padding-left: 1vw;padding-right: 1vw;">@count</div>
                <img class="card-img-top" id="cardPicture_@count" src="/images/pathToYourImage.png" onerror="Noimage(this)" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h4>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.TrackArtist) -
                        @Html.DisplayFor(modelItem => item.TrackYear.Year)


                    </p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (!item.Voted)
                        {
                            <form action="#" method="post" style="display: contents">
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@Html.DisplayFor(modelItem => item.ID)" name="ID" id="ID" />
                                <input type="hidden" value="1" name="PostForm" id="PostForm" />
                                <input type="hidden" value="@Html.DisplayFor(modelItem => item.ListYear)" name="ListYear" id="ListYear" />
                                <span class="form-group">
                                    <input type="submit" class="btn btn-success" value="Vote" />
                                </span>
                            </form>


                        }
                        else
                        {
                            <span>Already Voted</span>
                        }
                    }
                    <span class="badge" style="float: right; font-size: 1.1vw; border-radius: 0px;">@Html.DisplayFor(modelItem => item.VoteCount)</span>
                </div>
            </div>
            
        </div>
    }
    </div>
    <script>
        TrackArray.forEach(jsonfunction);
        function jsonfunction(item, index)
        {
            $.getJSON("https://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=1d1b6f7679007333329b5317d376e8b9&artist=" + item.itemArtist + "&album=" + item.itemName + "&format=json", function (data, status) {
                if (status == "success") {
                    $("#cardPicture_" + item.itemId).attr("src", data.album.image[3]["#text"])
                }

            })
        }
    </script>


